/*
=============== 
font
===============
*/
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/*
## Colors

### Primary

#### Text

- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)
*/

/*
=============== 
variables
===============
*/
:root {
    /* colors */
    --black: #222;
    --white: #fff;
    /* primary */
    --pale-violet: hsl(276, 100%, 95%);
    --moderate-violet: hsl(276, 55%, 52%);
    --desaturated-dark-violet: hsl(271, 15%, 43%);
    --grayish-blue: hsl(206, 6%, 79%);
    --very-dark-desaturated-violet: hsl(271, 36%, 24%);
    --dark-grayish-violet: hsl(270, 7%, 64%);
    /* gradients */
    --light-magenta: hsl(270, 7%, 64%);
    --light-violet: hsl(264, 100%, 61%);
    /* secondary */
    --light-grayish-violet: hsl(270, 20%, 96%);
    --very-light-magenta: hsl(289, 100%, 72%);
    /* spacing */
    --max-width: 1000px;
    --section-spacing: 5rem 0;
    --gap: 5rem;
    /* radius */
    --main-radius: 1rem;
    /* shadows */
    --main-shadow: 0.1rem 0.3rem 1rem rgba(0, 0, 0, 0.1);
    /* transitions */
    --main-transition: all 0.3s ease-in-out;
    /* font sizes */
    --xxl: 4.5rem;
    --xl: 4rem;
    --lg: 3.5rem;
    --md: 3rem;
    --sm: 2.5rem;
    --xs: 1.7rem;
    --xxs: 1.5rem;
    --xxxs: 1.3rem;
}
/*
=============== 
resets
===============
*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "Rubik", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    width: 100vw;
    position: relative;
    overflow-x: hidden;
}

img {
    width: 100%;
    object-fit: cover;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

button {
    font-family: inherit;
    cursor: pointer;
}

input {
    font-family: inherit;
}
/*
=============== 
global classes
===============
*/
.container {
    width: 90vw;
    max-width: var(--max-width);
    margin: 0 auto;
}

.heading-styles {
    font-weight: 700;
    letter-spacing: 0.1rem;
    line-height: 1.3;
}

.text-styles {
    font-weight: 400;
    letter-spacing: 0.1rem;
    line-height: 1.6;
}
/*
=============== 
bg patterns
===============
*/
.bg-pattern {
    position: absolute;
    z-index: -1;
}

.bg-pattern--left {
    clip-path: circle(50% at 0% 0%);
    background: linear-gradient(
        to top right,
        var(--light-violet) 30%,
        var(--moderate-violet) 70%
    );
    height: 100%;
    width: 100%;
}

.bg-pattern--right {
    clip-path: circle(50% at 100% 100%);
    background: linear-gradient(
        to top right,
        var(--light-violet) 30%,
        var(--moderate-violet) 70%
    );
    opacity: 0.1;
    height: 100%;
    width: 100%;
}
/*
=============== 
showcase
===============
*/
.showcase {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: var(--gap);
    max-width: var(--max-width);
    align-items: center;
    padding: 10rem 2rem;
}
/*
=============== 
phone
===============
*/
.phone {
    background-color: var(--white);
    box-shadow: var(--main-shadow);
    padding: 1rem;
    max-width: 400px;
    border-radius: var(--main-radius);
}

.phone__content {
    position: relative;
}

.phone__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
        to right,
        var(--light-violet),
        var(--moderate-violet)
    );
    border-radius: var(--main-radius);
    color: var(--white);
    padding: 2.5rem 1rem 1rem 1rem;
}

.phone__speaker {
    background-color: var(--white);
    border-radius: var(--main-radius);
    height: 2.5rem;
    width: 50%;
    position: absolute;
    top: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.phone__contact {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.phone__icon {
    font-size: var(--xxs);
}

.phone__contact-name {
    font-size: var(--xxs);
}

.phone__contact-availability {
    font-size: var(--xxxs);
    color: var(--grayish-blue);
}

.phone__avatar {
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: 0.2rem solid var(--white);
}

.phone__body {
    background-color: var(--light-grayish-violet);
    padding: 1rem;
    border-radius: var(--main-radius);
}

.message {
    padding: 0.5rem 0;
    width: fit-content;
    height: fit-content;
}

.message--received {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.message__text {
    font-size: var(--xxxs);
}

.message__text--received {
    color: var(--moderate-violet);
    background-color: var(--pale-violet);
    padding: 1rem;
    border-radius: var(--main-radius);
    width: 75%;
}

.message--sent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.message__text--sent {
    color: var(--desaturated-dark-violet);
    background-color: var(--white);
    padding: 1rem;
    border-radius: var(--main-radius);
    width: 75%;
}

.message__img {
    width: 4rem;
    height: 4rem;
    border-radius: var(--main-radius);
}

.message--alert {
    color: var(--white);
    padding: 1rem;
}

.message__text--alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: linear-gradient(
        to right,
        var(--light-violet),
        var(--moderate-violet)
    );
    padding: 1rem;
    border-radius: var(--main-radius);
    width: 75%;
}

.message__price {
    font-size: var(--xxs);
}

.phone__footer {
    width: 100%;
    position: relative;
}

.phone__footer-input {
    width: 100%;
    padding: 1.1rem;
    border: 0;
    outline: 0;
    border-radius: var(--main-radius);
    background-color: var(--white);
    box-shadow: var(--main-shadow);
    font-size: var(--xxs);
}

.phone__footer-icon {
    position: absolute;
    top: 1.2rem;
    right: 1rem;
    font-size: var(--xxs);
    color: var(--black);
}
/*
=============== 
info
===============
*/
.info__heading {
    font-size: var(--xxl);
    color: var(--very-dark-desaturated-violet);
    margin-bottom: 2rem;
}

.info__desc {
    font-size: var(--xs);
    color: var(--dark-grayish-violet);
}
/*
=============== 
media queries
===============
*/

@media (max-width: 768px) {
    .showcase {
        grid-template-columns: 1fr;
    }

    .phone {
        margin: 0 auto;
    }

    .info {
        text-align: center;
    }
}
